.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1e1e1e;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-left : 750px;
  margin-right : 750px;
  font-family: system-ui;
  margin-top : 200px;
}

.form input {
  height: 35px;
  outline: none;
  border: 2px solid rgb(131, 0, 207);
  background: transparent;
  padding: 20px 10px;
  border-radius: 5px;
  transition: .5s;
  color: white;
  font-size: 20px;
}

.form input:focus {
  background: rgb(95, 0, 150);
}

.form button {
  width: 100%;
  color: white;
  transition: .5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 5px;
  background: rgb(131, 0, 207);
  align-self: flex-end;
}


body {
  background-color: #212121;
}


.button{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1e1e1e;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-left : 750px;
  margin-right :750px;
  font-family: system-ui;
}

.button input {
  height: 35px;
  outline: none;
  border: 2px solid rgb(131, 0, 207);
  background: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  transition: .5s;
  color: white;
  font-size: 20px;
}

.button input:focus {
  background: rgb(95, 0, 150);
}

.button button {
  width: 100%;
  color: white;
  transition: .5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 55px;
  border-radius: 5px;
  background: rgb(131, 0, 207);
  align-self: flex-end;
}


.deco{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-left : 750px;
  margin-right :750px;
  font-family: system-ui;
}


.deco button {
  width: 100%;
  color: white;
  transition: .5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 55px;
  border-radius: 5px;
  background: rgb(131, 0, 207);
  align-self: flex-end;
}


.box select {
  background-color: rgb(131, 0, 207);
  color: white;
  padding: 12px;
  width: 200px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}

H1 {
  text-align: center;
  font-size: 40px;
  font-family: system-ui;
  color : white;

}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  color: white;
  text-align: center;
  font-family: system-ui;
 
}

th {
  background-color:rgb(131, 0, 207);
  font-weight: bold;
  font-size: 20px;
}

td {
  background-color :  #1e1e1e;
  font-size: 15px;
}


.recherche{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1e1e1e;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-left : 800px;
  margin-right : 800px;
  font-family: system-ui;
}

.recherche input {
  text-align:center;
  height: 35px;
  outline: none;
  border: 2px solid rgb(131, 0, 207);
  background: transparent;
  padding: 3px 3px;
  border-radius: 5px;
  transition: .5s;
  color: white;
  font-size: 15px;
}

.recherche input:focus {
  background: rgb(95, 0, 150);
}

.recherche button {
  width: 100%;
  color: white;
  transition: .5s;
  font-size: 15px;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 5px;
  background: rgb(131, 0, 207);
  align-self: flex-end;
}


.scan {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1e1e1e;
  padding: 20px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-left : 650px;
  margin-right : 650px;
  font-family: system-ui;
  margin-top : 200px;
}


.scan input:focus {
  background: rgb(95, 0, 150);
}

.scan button {
  width: 100%;
  color: white;
  transition: .5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 5px;
  margin-left : 850px;
  margin-right : 850px;
  background: rgb(131, 0, 207);
  align-self: flex-end;
}


.boxscan select {
  background-color: rgb(131, 0, 207);
  color: white;
  padding: 12px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.boxscan select option {
  padding: 30px;
}
