<!DOCTYPE html>
<html>
<head>
  <title>Vol en cours</title>
  <%- include('./style'); %>
</head>
<body>
  <h1>Scanne en cours</h1>

  <button onclick="window.location.href = 'http://localhost:3003';">retour</button> 

  <form action="/logout" method="post" class="logout-button">
    <input type="submit" value="Déconnexion">
  </form>

</body>
</html>


  

