<!DOCTYPE html>
<html>
<head>
  <title>Vol en cours</title>
  <%- include('./style'); %>
</head>
<body>
  <h1>Scanne en cours</h1>

  <button onclick="window.location.href = 'http://localhost:3003';">retour</button> 

</body>
</html>


  

